/*Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fafafa;
    --black: #000000;
    --font: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
}

header {
    padding: 20px;
    font-family: var(--font);
    background-color: gray;
    color: var(--black);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--font);
    font-size: 20px;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    margin-left: 25px;
}

nav a {
    color: var(--black);
}


.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url(../images/heroskyline.jpg);
    background-size: cover;
    background-position: center;
}

.subtitle {
    font-size: 30px;
    text-align:right;
    color: #000000;
    text-shadow:blue;
    font-family: var(--font);
    padding-top: 265px;
    padding-right: 700px;
}

.about-me {
    background-color: (var(--white));
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 50px;
}

.about-side {
    background-color: (var(--white));
    display: flex;
    text-align:end;
    margin: 4px;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 24%;
    font-size: 45px;
    padding-right: 10px;
}

.about-content {
    background-color: var(--white);
    background-position: center;
    margin: 4px;
    width: 72%;
    padding-left: 10px;
    border-left: 5px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;
    height: 300px;
}

.work {
    background-color: (var(--white));
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.work-side {
    background-color: (var(--white));
    display: flex;
    text-align:end;
    margin: 4px;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 24%;
    font-size: 45px;
    padding-right: 10px;
}

.run-buddy {
    background-color: var(--white);
    background-position: center;
    margin: 4px;
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 300px;
    border-left: 5px solid #000000;
}

.work-side1 {
    background-color: var(--white);
    background-position: center;
    margin: 4px;
    width: 24%;
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.project2 {
    background-color: var(--white);
    background-position: center;
    margin: 4px;
    width: 36%;
    height: 300px;
    border: 5px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.project3 {
    background-color: var(--white);
    background-position: center;
    margin: 4px;
    width: 36%;
    height: 300px;
    border: 5px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.work-side2 {
    background-color: (var(--white));
    display: flex;
    margin: 4px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 24%;
}

.project4 {
    background-color: var(--white);
    background-position: center;
    margin: 4px;
    width: 36%;
    height: 300px;
    border: 5px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.project5 {
    background-color: var(--white);
    background-position: center;
    margin: 4px;
    width: 36%;
    height: 300px;
    border: 5px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.contact-main {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--font);
    font-size: 20px;
}

.contact-main ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    list-style-type:none;
}

.contact-main ul li {
    margin-left: 500px;
}

.contact-me {
    display: inline-block;
}