/*Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fafafa;
    --black: #000000;
    --font: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fafafa;
}

header {
    padding: 20px;
    font-family: var(--font);
    background-color: gray;
    color: var(--black);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--font);
    font-size: 20px;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    margin-left: 25px;
}

nav a {
    color: var(--black);
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/heroskyline.jpg);
    background-size: cover;
    background-position: center;
}

.subtitle {
    font-size: 20px;
}